{% extends "layout.html" %} {% block body %}

<table style="padding: 60px 0 0 0">
  <tr>
    <td align="center">
      <p style="color: #141414; font-size: 14px">
        Password reset has been requested for this email on Anibay. Follow the link below to create a new password and
        regain access to your account.
      </p>
    </td>
  </tr>

  <tr>
    <td align="center" style="padding: 110px 0">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center">
            <a
              href="{{url}}"
              target="_blank"
              style="
                font-size: 16px;
                font-family: Helvetica, Arial, sans-serif;
                background-color: #d61336;
                text-decoration: none;
                color: #ffffff;
                border-radius: 5px;
                padding: 10px 30px;
                display: inline-block;
                font-weight: bold;
              "
              >Reset Password</a
            >
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% endblock %}
